/*Carousel*/

.carousel-item{
    height: calc(100vh - 56px);
    
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item.carousel-item-1{
    background-image: url("../img/cracovia1.jpg");
    background-position: center bottom;
}

.carousel-item.carousel-item-2{
    background-image: url("../img/cracovia2.jpg");
    background-position: center bottom;
}

.carousel-item.carousel-item-3{
    background-image: url("../img/cracovia3.jpg");
    background-position: center bottom;
}


