/*Finlandia*/

body{
    margin-top: 50px;
}

.finlandia{
    
    background-color: blue;
    height: 150px;
    width: 150px;
}

.finlandia2{
    
    background-color: blue;
    height: 145px;
}


