/* japan */



.japan {
    border-style: solid;
    margin-top: 50px;
    height: 500px;
    margin-bottom: 50px;
}


.circle{
    background-color: red;
    width: 260px;
	height: 260px;
	border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -130px;
    margin-top: -130px;

}